.sidebar {
  background-image: linear-gradient(to bottom, #0b1e39, 40%, #449bbb);
  width: 33%;
  height: -webkit-fill-available;
  float: left;
  height: 100vh;
  text-align: center;
}

.main-menu {
  color: white;
  line-height: 1.9em;
  font-size: 2.5em;
  font-weight: 100;
  letter-spacing: 0.1em;
}

.social-media {
  color: white;
  line-height: 1em;
  font-size: 1.5em;
  font-weight: 100;
  text-decoration: underline;
}

#sm-bar li {
  display: inline-block;
  width: 30%;
}

.picture-name {
  padding-top: 20%;
}

.name {
  color: #47a1c3;
  font-size: 2.5em;
  letter-spacing: 0.1em;
  font-weight: 100;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0px;
}

#ul-main-menu {
  margin: 100px 0;
}
