.panel {
  background-color: #0b1e39;
  height: 100vh;
  display: flex;
  /* flex-direction: column;
  justify-content: center;
  text-align: center; */
}

.text {
  padding: 10%;
  margin-bottom: 10%;
  margin-left: 9%;
  text-align: left;
}

.fullstack {
  color: #449bbb;
  font-size: 9em;
  line-height: 0.5em;
  letter-spacing: 0.09em;
  font-weight: 100;
}
.summary {
  color: white;
}
